.entre-em-contato-ligth {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 20px;
    margin-top: -10px;
    width: 90%;
    font-size: 2vh;
    /* border: solid green; */
}

.entre-em-contato-dark {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 20px;
    margin-top: -10px;
    width: 90%;
    /* border: solid green; */
    font-size: 2vh;
    color: rgb(187, 187, 187);
}

.title-contato {
    color: rgb(45, 171, 255);
    margin-left: 10px;
    font-size: 60px;
}


.contato-ligth {
    display: flex;
    flex-direction: row;
    color: rgb(0, 0, 0);
    margin:auto;
    width: 80%;
    height: max-content;
    margin-top: 80px;
    /* border: solid gold; */
    font-size: 1.8vh;
    
}

.contato-dark {
    color: white;
    display: flex;
    flex-direction: row;
    color: rgb(0, 0, 0);
    margin:auto;
    width: 80%;
    height: max-content;
    margin-top: 80px;
    font-size: 1.8vh;
    /* margin-top: 70px; */
    /* border: solid gold; */
}

.social-contact-ligth {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    width: 50%;
    height: 300px;
    /* border: solid green; */
    margin: 10px;
}
  
.social-contact-ligth a{
    text-decoration: none;
    color: inherit;
    padding: 50px;
    color:rgb(45, 171, 255);
}
  
.social-contact-ligth a:hover{
    color:rgb(60, 60, 60);
    transform: translate3d(180);
}

a:hover {
    color:rgb(45, 171, 255);
    transform: translate3d(180);
}
  
.contact {
    display: flex;
    align-items: center;
}

.social-contact-dark {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    width: 50%;
    height: 300px;
    /* border: solid green; */
    color:rgb(255, 255, 255);
    margin: 10px;
}
  
.social-contact-dark a{
    text-decoration: none;
    color: rgb(45, 171, 255);
    padding: 50px;
}

.social-contact-dark a:hover {
    color:rgb(199, 199, 199);
    transform: translate3d(0px, -5px, 0px);
}

.contact-local-ligth {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    width: 50%;
    height: 300px;
    /* border: solid rebeccapurple; */

}

.contact-local-ligth a{
    margin-top: 10px;
    text-decoration: none;
    color: inherit;
    padding: 40px;
    color:rgb(45, 171, 255);
}

.contact-local-dark {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    width: 50%;
    height: 300px;
    /* border: solid rebeccapurple; */
    color:rgb(255, 255, 255);

}

.contact-local-dark a{
    margin-top: 10px;
    text-decoration: none;
    color: rgb(45, 171, 255);
    padding: 40px;
}

.contact-local-dark a:hover {
    color:rgb(199, 199, 199);
    transform: translate3d(0px, -5px, 0px);
}

.contact-local-ligth a:hover {
    color:rgb(60, 60, 60);
    transform: translate3d(0px, -5px, 0px);
}

/* Responsividade */
@media screen and
(min-width: 200px) and
(max-width: 780px) {

    .entre-em-contato-ligth {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        margin-top: -30px;
        width: 80%;
        /* border: solid rgb(128, 23, 0); */
        font-size: 2.5vh;
    }
    
    .entre-em-contato-dark {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        margin-top: -30px;
        width: 80%;
        /* border: solid rgb(128, 23, 0); */
        font-size: 2.5vh;
        color: rgb(187, 187, 187);
    }
    
    .title-contato {
        color: rgb(45, 171, 255);
        font-size: 40px;
    }
    
    .contato-ligth {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        color: rgb(0, 0, 0);
        width: 80%;
        height: max-content;
        margin: auto;
        margin-top: 50px;
        /* border: solid gold; */
        
    }
    
    .contato-dark {
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        color: rgb(0, 0, 0);
        width: 80%;
        height: max-content;
        margin: auto;
        margin-top: 50px;
        /* border: solid gold; */
    }
    
    .social-contact-ligth {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 150px;
        font-size: 2vh;
        /* border: solid greenyellow; */
    }
      
    .social-contact-ligth a{
        text-decoration: none;
        color: inherit;
        padding: 5px;
        color:rgb(45, 171, 255);
    }
      
    .social-contact-ligth a:hover{
        color:rgb(60, 60, 60);
        transform: translate3d(180);
    }
    
    a:hover {
        color:rgb(45, 171, 255);
        transform: translate3d(180);
    }
      
    .contact {
        display: flex;
        align-items: center;
    }
    
    .social-contact-dark {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 150px;
        font-size: 2vh;
        color:rgb(255, 255, 255);
        /* border: solid greenyellow; */
    }
      
    .social-contact-dark a{
        text-decoration: none;
        color: rgb(45, 171, 255);
        padding: 8px;
    }
    
    .social-contact-dark a:hover {
        color:rgb(199, 199, 199);
        transform: translate3d(0px, -5px, 0px);
    }
    
    .contact-local-ligth {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* border: red solid; */
        width: 100%;
        height: 200px;
        margin-top: 40px;
        font-size: 2vh;
        /* padding: 8px; */
    
    }
    
    .contact-local-ligth a{
        text-decoration: none;
        color: inherit;
        padding: 5px;
        margin-top: 10px;
        color:rgb(45, 171, 255);
    }
    
    .contact-local-dark {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* border: red solid; */
        width: 100%;
        height: 200px;
        margin-top: 40px;
        font-size: 2vh;
        /* padding: 8px; */
        color:rgb(255, 255, 255);
       
    
    }
    
    .contact-local-dark a{
        text-decoration: none;
        color: rgb(45, 171, 255);
        padding: 5px;
        margin-top: 10px;
    }
    
    .contact-local-dark a:hover {
        color:rgb(199, 199, 199);
        transform: translate3d(0px, -5px, 0px);
    }
    
    .contact-local-ligth a:hover {
        color:rgb(60, 60, 60);
        transform: translate3d(0px, -5px, 0px);
    }
    
}