.entre-em-contato-ligth {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 20px;
    margin-top: -10px;
    width: 90%;
    font-size: 20px;
    /* border: solid green; */
}

.entre-em-contato-dark {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 20px;
    margin-top: -10px;
    width: 90%;
    /* border: solid green; */
    font-size: 20px;
    color: rgb(255, 255, 255);
}

.title-contato {
    color: rgb(45, 171, 255);
    margin-left: 10px;
    font-size: 60px;
}


.contato-ligth {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: rgb(0, 0, 0);
    margin:auto;
    width: 50%;
    height: 400px;
    font-size: 20px;
    padding: 20px;
    align-items: center;
    /* border: solid gold; */
    
}

.contato-dark {
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: rgb(0, 0, 0);
    margin:auto;
    width: 50%;
    height: 400px;
    font-size: 20px;
    padding: 20px;
    align-items: center;
    /* border: solid gold; */
}

.social-contact-ligth {
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    justify-content: center;
    width: 50%;
    height: 300px;
    /* border: solid green; */
    margin: 10px;
}
  
.social-contact-ligth a{
    text-decoration: none;
    color: inherit;
    padding: 25px;
    color:rgb(45, 171, 255);
}
  
.social-contact-ligth a:hover{
    color:rgb(60, 60, 60);
    transform: translate3d(180);
}

a:hover {
    color:rgb(45, 171, 255);
    transform: translate3d(180);
}
  
.contact {
    display: flex;
    align-items: center;
}

.social-contact-dark {
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    justify-content: center;
    width: 50%;
    height: 300px;
    /* border: solid green; */
    margin: 10px;
    color: rgb(187, 187, 187);
}
  
.social-contact-dark a{
    text-decoration: none;
    color: rgb(45, 171, 255);
    padding: 25px;
}

.social-contact-dark a:hover {
    color:rgb(199, 199, 199);
    transform: translate3d(0px, -5px, 0px);
}

.contact-local-ligth {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 10px;
    width: 100%;
    height: 400px;
    /* border: solid rgb(51, 153, 117); */
    /* border: solid rebeccapurple; */

}

.contact-local-ligth a{
    margin-top: 10px;
    text-decoration: none;
    color: inherit;
    padding: 40px;
    color:rgb(45, 171, 255);
}

.contact-local-dark {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 10px;
    width: 100%;
    height: 400px;
    /* border: solid rgb(51, 153, 117); */
    color: rgb(187, 187, 187);

}

.contact-local-dark a{
    margin-top: 10px;
    text-decoration: none;
    color: rgb(45, 171, 255);
    padding: 40px;
}

.contact-local-dark a:hover {
    color:rgb(199, 199, 199);
    transform: translate3d(0px, -5px, 0px);
}

.contact-local-ligth a:hover {
    color:rgb(60, 60, 60);
    transform: translate3d(0px, -5px, 0px);
}

.contato-local {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* border: solid red; */
    width: 95%;
}

.local-contato {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 50%;
    /* border: solid royalblue; */
}

/* Responsividade */
@media screen and
(min-width: 200px) and
(max-width: 780px) {


    .contato-local {
        display: flex;
        flex-direction: column;
        margin: auto;
        justify-content: center;
        /* border: solid red; */
        width: 80%;
    }
    
    .local-contato {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        /* border: solid royalblue; */
    }

    .entre-em-contato-ligth {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        margin-top: -40px;
        width: 80%;
        /* border: solid rgb(128, 23, 0); */
        font-size: 13px;
    }
    
    .entre-em-contato-dark {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        margin-top: -40px;
        width: 80%;
        /* border: solid rgb(128, 23, 0); */
        font-size: 13px;
        color: rgb(255, 255, 255);
    }
    
    .title-contato {
        color: rgb(45, 171, 255);
        font-size: 30px;
    }
    
    .contato-ligth {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        color: rgb(0, 0, 0);
        width: 80%;
        height: max-content;
        margin: auto;
        /* margin-top: 20px; */
        /* border: solid gold; */
        
    }
    
    .contato-dark {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        color: rgb(0, 0, 0);
        width: 80%;
        height: max-content;
        margin: auto;
        /* margin-top: 20px; */
        /* border: solid gold; */
    }
    
    .social-contact-ligth {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items:flex-start;
        width: 80%;
        height: 200px;
        font-size: 12px;
        margin-left: -20px;
        /* margin-left: 0px; */
        /* border: solid greenyellow; */
    }
      
    .social-contact-ligth a{
        text-decoration: none;
        align-items: center;
        color: inherit;
        padding: 10px;
        color:rgb(45, 171, 255);
        /* border: solid red; */
    }
      
    .social-contact-ligth a:hover{
        color:rgb(60, 60, 60);
        transform: translate3d(180);
    }
    
    a:hover {
        color:rgb(45, 171, 255);
        transform: translate3d(180);
    }
      
    .contact {
        display: flex;
        align-items: center;
    }
    
    .social-contact-dark {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items:flex-start;
        width: 80%;
        height: 200px;
        font-size: 12px;
        margin-left: -20px;
        /* margin-left: 0px; */
        /* border: solid greenyellow; */
        color: rgb(187, 187, 187);
    }
      
    .social-contact-dark a{
        text-decoration: none;
        align-items: center;
        color: inherit;
        padding: 10px;
        color:rgb(45, 171, 255);
        /* border: solid red; */
    }

    .social-contact-dark a:hover {
        color:rgb(199, 199, 199);
        transform: translate3d(0px, -5px, 0px);
    }
    
    .contact-local-ligth {
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
        align-items:flex-start;
        width: 80%;
        height: max-content;
        font-size: 12px;
        /* border: solid red; */
        margin-left: -20px;
        /* border: solid red; */
    
    }
    
    .contact-local-ligth a{
        text-decoration: none;
        color: inherit;
        padding: 10px;
        margin-top: 10px;
        color:rgb(45, 171, 255);
    }
    
    .contact-local-dark {
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
        align-items:flex-start;
        width: 80%;
        height: max-content;
        font-size: 12px;
        /* border: solid red; */
        margin-left: -20px;
        color: rgb(187, 187, 187);
    
    }
    
    .contact-local-dark a{
        text-decoration: none;
        color: inherit;
        padding: 10px;
        margin-top: 10px;
        color: rgb(45, 171, 255);
        
    }
    
    .contact-local-dark a:hover {
        color:rgb(199, 199, 199);
        transform: translate3d(0px, -5px, 0px);
    }
    
    .contact-local-ligth a:hover {
        color:rgb(60, 60, 60);
        transform: translate3d(0px, -5px, 0px);
    }
    
}
